streamlit
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.43
langchain-openai==0.1.25
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.4
pypdf
faiss-cpu
python-dotenv
transformers
sentence-transformers
torch
torch 
torchvision 
torchaudio